---
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import Testimonial from "./components/Testimonial.astro";
import { testimonialsSection } from "./data.ts";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="testimonials" class=`${className}`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>{testimonialsSection.title}</Title2>
    <SubTitle2>
      <GradiantText> {testimonialsSection.subheading1_1}</GradiantText><br />
      {testimonialsSection.subheading1_2}
    </SubTitle2>
  </Container>
  <Container className="flex flex-col items-center">
    <div
      class="mt-8 flex flex-col gap-8 midmd:flex-row text-heading-3 font-medium"
    >
      {
        testimonialsSection.testimonials.map((testimonial) => {
          return (
            <Testimonial
              name={testimonial.name}
              visual={testimonial.visual}
              occupation={testimonial.occupation}
              quote={testimonial.quote}
            />
          );
        })
      }
    </div>
  </Container>
</section>
