---
import Container from "../../shared/Container.astro";
import Paragraph from "../../shared/Paragraph.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title from "../../shared/Title.astro";
import Title2 from "../../shared/Title2.astro";
import Title3 from "../../shared/Title3.astro";
import InvolvementCard from "./components/InvolvementCard.astro";

import { getInvolvedSection } from "./data.ts";

type InitiativesProps = {
  title: string;
  description: string;
  visual: ImageMetadata;
};

export interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<section id="cta" class=`relative pb-8 ${className}`>
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title2 className="">{getInvolvedSection.title}</Title2>
      <SubTitle2 className="mt-3">
        {getInvolvedSection.subheading}
      </SubTitle2>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        getInvolvedSection.initiatives.map((initiative: InitiativesProps) => {
          return (
            <InvolvementCard
              title={initiative.title}
              description={initiative.description}
              visual={initiative.visual}
            />
          );
        })
      }
    </div>
  </Container>
</section>
