---
import Container from '../../shared/Container.astro';
import Paragraph from '../../shared/Paragraph.astro';
import Title from '../../shared/Title.astro';
import { Image } from "astro:assets";

import imgGrid from "./assets/grid.jpg"
import imgSolar from "./assets/solar2.jpg"
import imgWind from "./assets/wind.jpg"

import Title2 from '../../shared/Title2.astro';
import SubTitle2 from '../../shared/SubTitle2.astro';
import Title3 from '../../shared/Title3.astro';
import LazyImage from '../../shared/LazyImage.astro';


type InnovationsProps = {
  title: string;
  description: string;
  visual: ImageMetadata;
};

const innovationsSection = {
  title: "Latest Innovations",
  subheading: "Discover Our Cutting-edge Green Energy Technologies",
  innovations: [
    {
      title: "Smart Grid Integration",
      description:
        "Our smart grid technology optimizes energy distribution, reduces wastage, and enhances overall grid efficiency. Stay connected and in control with our innovative solutions.",
      visual: imgGrid
    },
    {
      title: "Advanced Solar Panel Design",
      description:
        "Experience improved solar efficiency with our advanced solar panel designs. Our innovative technologies capture more sunlight, maximizing energy production for your home or business.",
      visual: imgSolar
    },
    {
      title: "Next-gen Wind Turbines",
      description:
        "Elevate your wind energy experience with our next-generation wind turbines. Sleek design, enhanced efficiency, and minimal environmental impact define our commitment to innovation.",
      visual: imgWind
    },
  ],
  visual: "innovations-section-image.jpg",
  callToAction: "Explore the Future of Green Energy with [Company Name]",
  button: "Learn More",
};

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="innovations" class=`pt-10 flex flex-col  ${className}`>
  <Container className='pb-10'>
    <div class=" mx-auto flex flex-col items-center justify-center text-center">
      <Title2 >{innovationsSection.title}</Title2>
      <SubTitle2 >
        {innovationsSection.subheading}
      </SubTitle2>
    </div>
  </Container>
  {
    innovationsSection.innovations.map(
      (solution: InnovationsProps, index: number) => {
        const oddIndex = index % 2 === 0;
        const flexRow = oddIndex ? "midmd:flex-row-reverse" : "midmd:flex-row";
        // const bgColor = oddIndex
        //   ? "bg-orange-100 dark:bg-gray-800 "
        //   : "bg-transparent";
        const bgColor = ""
          
        return (
          <div class={`w-100 ${bgColor}  pb-32`}>
            <div
              class={`flex flex-col gap-10 lg:gap-12 ${flexRow} mx-auto max-w-7xl w-full`}
            >
              <div class="max-w-md mx-auto w-11/12 flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
                <Title3>
                  {solution.title}
                  <!--
                    <GradiantText>{solution.title}</GradiantText>
                     -->
                </Title3>
                <!--<Paragraph className="mt-8 font-medium text:lg md:text-2xl">
                  {solution.description}
                </Paragraph>-->
                
                <Paragraph className="mt-3 ">
                  {solution.description}
                </Paragraph>
                <!--<Paragraph className="mt-3 font-medium">
                  {solution.description}
                </Paragraph>-->
                
              </div>

              <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
                <div class="w-full max-h-[50vh] sm:h-96 midmd:h-full relative">
                  <LazyImage
                    src={solution.visual}
                    alt="banner image"
                    width="776"
                    height="472"
                    class="rounded-3xl object-cover h-full "
                  ></LazyImage>
                  <!-- 
                    <Image
                     src={solution.visual}
                     alt="banner image"
                     width="1240"
                     height="1385"
                     class="rounded-3xl object-cover h-full "
                   />
                   -->
                </div>
              </div>
            </div>
          </div>
        );
      }
    )
  }
</section>
