---
import Container from "../shared/Container.astro";
import { Image } from "astro:assets";
import heroImg from "../../assets/solar2.jpg";
// import heroImg from "../../assets/solar-flip.jpg";
import Paragraph from "../shared/Paragraph.astro";
import CtaButton from "../shared/CtaButton.astro";
import Title from "../shared/Title.astro";
import SubTitle2 from "../shared/SubTitle2.astro";
import SubTitle from "../shared/SubTitle.astro";
import GradiantText from "../shared/GradiantText.astro";

const heroSection = {
  headline1: "Powering",
  headline2: "Tomorrow,",
  headline3: "Sustainably",
  headline4: "Today!",
  subheading1: "Join us in the green energy revolution",
  subheading2: "and be part of a sustainable future",
  subheading3: "for generations to come.",
  buttonText: "Get Started",
  backgroundImage: "hero-background-image.jpg",
};

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<section class=`relative  ${className}` id="hero">
  <Image
    src={heroImg}
    alt="Hero"
    width="2350"
    height="2359"
    class="w-full h-[80vh] object-cover"
  />
  <div class="absolute inset-0 bg-black opacity-60"></div>
  <div
    class="absolute top-0 start-0 w-full h-[80vh] pt-[100px] flex flex-col justify-center"
  >
    <div class="place-items-center flex flex-col text-center">
      <Title
        className="text-white bg-black/20 shadow-[0px_0px_80px_80px_rgba(0,0,0,0.2)] rounded-2xl"
      >
        {heroSection.headline1}
        <GradiantText
          >{" " + heroSection.headline2}
          <br />
          {" " + heroSection.headline3}
        </GradiantText>{heroSection.headline4}
      </Title>
      <SubTitle
        className="text-white bg-black/20 shadow-[0px_0px_60px_60px_rgba(0,0,0,0.2)] rounded-2xl mt-10 leading-9 italic"
      >
        {heroSection.subheading1}
        <br />
        {heroSection.subheading2}<br />
        {heroSection.subheading3}
      </SubTitle>
      <div class="pt-10">
        <CtaButton />
      </div>
    </div>
  </div>
</section>
